<h1>Teams#index</h1>
<p>Find me in app/views/teams/index.html.erb</p>
<% @all_teams.each do |team| %>
	Name: <%= team.name %>
	<% if team.drafted == false %>
		<%= link_to 'Draft!', draft_path(id: team.id, round_number: 1) %>
	<% end %>
	Players: <%= team.players_array %>
	Seen Players: <%= team.seen_players_array %>
	<%= button_to "Delete", team_path(id: team.id), :method => :delete %>
<% end %>