<body>
    <!-- SLIDER -->
    <section class="userslider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { method: :put, :class => "login-form"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="edit-user-page">
    <div class="form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(leave blank if you don't want to change it)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
      </div>

      <div class="field">
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current password" %>
      </div>

      <div class="actions">
        <%= f.submit "UPDATE", class: "button" %>
      </div>
      <p class="message">Unhappy? <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <% end %>

    </div>
  </div>

</section>
