<body>
    <!-- SLIDER -->
    <section class="userslider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "login-form"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="login-page">
    <div class="form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
      </div>

      <div class="actions">
        <%= f.submit "SIGN UP", class: "button" %>
      </div>
      <p class="message">Already Have An Account? <%= link_to 'Log In', new_user_session_path %></p>
    <% end %>

    </div>
  </div>

</section>