<body>
    <!-- SLIDER -->
    <section class="userslider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-form"}) do |f| %>
  <div class="login-page">
    <div class="form">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
      </div>

      <div class="actions">
        <%= f.submit "LOGIN", class: "button" %>
      </div>
      <p class="message">Not registered? <%= link_to 'Sign up', new_user_registration_path %></p>
    <% end %>

    </div>
  </div>
